<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Chat Room</h1>
    <div id="chatApp"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/dist/chatApp.js"></script>
  </body>
</html>
