<!doctype html>
<html>
  <head>
    <title>login</title>
    <meta charset="utf-8" />
    <link rel=stylesheet href="/css/main.css" />
  </head>
  <body>
    <a href="/">Home</a>
    <div id="loginApp"></div>
    <a href="/register">Not have account? register now!</a>
    <script src="/js/dist/loginApp.js"></script>
  </body>
</html>
