<!doctype html>
<html>
  <head>
    <title>login</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="loginApp"></div>
    <script src="/js/dist/loginApp.js"></script>
  </body>
</html>
