<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="registerApp"></div>
    <script src="/js/dist/registerApp.js"></script>
  </body>
</html>
