/* ----------------------------------------------
 * Reset elements margin and padding
 * ---------------------------------------------- */
html, body, div, ul, ol, li, p, h1, h2, h3, h4, h5, h6,
form, input, textarea, th, td, pre {
  margin: 0;
  padding: 0;
}
div {
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%,
  font-weight: normal;
  font-family: sans-serif;
  text-align: center;
}
p {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
ol, ul {
  list-style: none;
}
input {
  display: inline-block;
  font-family: sans-serif;
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  box-shadow: none;
  appearance: none;
  width: 190px;
}
input:focus {
  outline: none;
}
button {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  box-shadow: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

/* -------------------------------------------------
 * Navigation Bar
 * ------------------------------------------------- */
.navbar {
  background-color: #30A9DE;
  height: 50px;
}
.navbar > ul {
  position: absolute;
  top: 15px;
}
.navbar > ul.pull-left {
  position: absolute;
  left: 100px;
}
.navbar > ul.pull-right {
  posotion: absolute;
  right: 100px;
}
.navbar > ul > li {
  color: white;
  font-size: 25px;
  display: inline;
  padding: 0 32px;
}

/* -----------------------------------------------
 * Side Bar.
 * ----------------------------------------------- */
.sidebar {
  /* TODO */
}

/* ------------------------------------------------
 * Container
 * ------------------------------------------------ */
.container {
  /* TODO */
}

/* -------------------------------------------------
 * Theme
 * ------------------------------------------------- */
.theme {
  height: 800px;
  background-image: url('https://mmtstock.s3.amazonaws.com/photos/P2271485.jpg');
}

input {
  /* style */
  border-radius: 10px;
//  background-color: #2d3035;
  //color: white;
  width: 190px;
  font-size: 15px;
  padding: 10px;
  border: 2px solid #dcdcdc;

  /* margin and position */
  margin: 10px 10px;
}

button {
  font-size: 18px;
  color: black;
  background-color: #4CAF50;
  padding: 7px 13px;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  transition-duration: 0.3s;
}
button:hover {
  background-color: white;
}

#loginForm {
  background-color: red;
}

h1 {
  color: red;
}

a {
  color: white;
}
